ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/*upar likhi css par abhi dhyan mat dena*/

/*Element Selector*/
p{
  color: red;
}

/*class Selector*/
.note{
  font-size: 20px;
}

/*id Selector*/
#id-selector-demo{
  color: green;
}

/*Attribute Selector*/
/*neeche agar li[value] likhte toh saare li jinme attribute value h unka color blue ho jata*/
li[value="4"]
{
  color: blue;
}

/*Universal selector*/
*{
  text-align: center;
}